* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

/* region utility */


/* debug */




/* /debug */
i {
    color: white;
}


li{
    display: inline;
}

a {
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    display: inline;
    padding: 0px 1rem;
}


#upp-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.small-container {
    background-color: orange;
    width: 100%;
    height: auto;
    justify-content: space-around;
    position: fixed;
    
 }

.container {
    width: 70%;
    max-width: 1152px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    width: calc(50% / 4);
}

.flex {
    display: flex;
}

.space-around{
    justify-content: space-around;
    align-items: center;
    
}   




.logo {
    color: white;
}

/* /region utility */


/* region header */


/* /region header */



/* region main */

.card {
    background-color: black;
    color: white;
}



.column {
    width: calc(100% / 12 * 4);

}



/* /region main */




/* region footer */



/* /region footer */