* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

/* region utility */


/* debug */




/* /debug */
i {
    color: white;
}

#upp-header {
    position: sticky;
}

.small-container {
    background-color: orange;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.container {
    width: 70%;
    max-width: 1152px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    width: calc(50% / 4);
}

.flex {
    display: flex;
}


.logo {
    color: white;
}

/* /region utility */


/* region header */


.header-ul {
    text-decoration: none;
    color: white;
    text-decoration-style: none;
    list-style-type: none;
}

.list-header {
    list-style-type: none;
    display: inline;

}

/* /region header */



/* region main */

.card {
    background-color: black;
    color: white;
}



.column {
    width: calc(100% / 12 * 4);
    
}



/* /region main */





/* region footer */



/* /region footer */